.root {
  box-sizing: border-box;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  text-align: center;
  padding: 2vh 1vw;
  font-size: 4vmin;
  height: 100%;
}

.avatar {
  width: 36vmin;
}

.name {
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  margin-bottom: 2vh;
}

.table {
  width: 100%;
  height: 100%;
}

.table, td {
  font-size: 2vh;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 50%;
}

.type {
  padding: 0.5vh 1vw;
}