.root {
  border: 1px solid;
  padding: 2vmin;
  flex-basis: 26%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  max-height: fit-content;
}

.name {
  font-weight: bold;
  font-size: 3vmin;
  text-align: center;
  margin-bottom: 1vh;
}

.avatar {
  width: 100%;
  max-width: 20vw;
  align-self: center;
}

.type {
  border-radius: 4px;
  padding: 0.5vh 1vw;
  font-size: 2vmin;
}

.typesWrapper {
  display: flex;
  gap: 0.5vmin;
}